<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tool</key>
	<array>
		<dict>
			<key>_id</key>
			<integer>701826347931131</integer>
			<key>cateid</key>
			<integer>0</integer>
			<key>isnew</key>
			<integer>0</integer>
			<key>jump_title</key>
			<string></string>
			<key>jump_type</key>
			<integer>0</integer>
			<key>photo</key>
			<string>http://cdn36.chinesetoday.cn/2018/ad/20180627/81327d2fbe2142c066fc453920310e4a.png</string>
			<key>pid</key>
			<integer>0</integer>
			<key>sortnums</key>
			<integer>1</integer>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>实时汇率</string>
			<key>url</key>
			<string>https://quote.kvbgc.com/QuoteAlarm/au-pc.html?hmsr=SydneyToday&amp;amp;hmpl=Quote&amp;amp;hmcu=APPtool&amp;amp;hmkw=&amp;amp;hmci=</string>
		</dict>
		<dict>
			<key>_id</key>
			<integer>701826348053140</integer>
			<key>cateid</key>
			<integer>0</integer>
			<key>isnew</key>
			<integer>0</integer>
			<key>jump_title</key>
			<string></string>
			<key>jump_type</key>
			<integer>0</integer>
			<key>photo</key>
			<string>http://cdn36.chinesetoday.cn/2018/ad/20180627/32a0f428e6511d3b0be3c6b26e55aec1.png</string>
			<key>pid</key>
			<integer>0</integer>
			<key>sortnums</key>
			<integer>2</integer>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>及时天气</string>
			<key>url</key>
			<string>http://www.weatherzone.com.au</string>
		</dict>
		<dict>
			<key>_id</key>
			<integer>701826348110127</integer>
			<key>cateid</key>
			<integer>0</integer>
			<key>isnew</key>
			<integer>0</integer>
			<key>jump_title</key>
			<string></string>
			<key>jump_type</key>
			<integer>0</integer>
			<key>photo</key>
			<string>http://cdn36.chinesetoday.cn/2018/ad/20180627/4984802159f5f8084daab59f1b556173.png</string>
			<key>pid</key>
			<integer>0</integer>
			<key>sortnums</key>
			<integer>3</integer>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>房贷计算</string>
			<key>url</key>
			<string>https://apps.commbank.com.au/digital/propertyhub/calculator/home-loan-repayments</string>
		</dict>
		<dict>
			<key>_id</key>
			<integer>701826348170113</integer>
			<key>cateid</key>
			<integer>0</integer>
			<key>isnew</key>
			<integer>0</integer>
			<key>jump_title</key>
			<string></string>
			<key>jump_type</key>
			<integer>0</integer>
			<key>photo</key>
			<string>http://cdn36.chinesetoday.cn/2018/ad/20180627/dbd4724704ea89934ce710e30268cf56.png</string>
			<key>pid</key>
			<integer>0</integer>
			<key>sortnums</key>
			<integer>4</integer>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>犯罪查询</string>
			<key>url</key>
			<string>https://crimemap.info</string>
		</dict>
		<dict>
			<key>_id</key>
			<integer>701826348239175</integer>
			<key>cateid</key>
			<integer>0</integer>
			<key>isnew</key>
			<integer>0</integer>
			<key>jump_title</key>
			<string></string>
			<key>jump_type</key>
			<integer>0</integer>
			<key>photo</key>
			<string>http://cdn36.chinesetoday.cn/2018/ad/20180627/7c853159b3255268dd0fa58a2de9fd89.png</string>
			<key>pid</key>
			<integer>0</integer>
			<key>sortnums</key>
			<integer>5</integer>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>异域美食</string>
			<key>url</key>
			<string>https://www.zomato.com/sydney</string>
		</dict>
		<dict>
			<key>_id</key>
			<integer>701826348279113</integer>
			<key>cateid</key>
			<integer>0</integer>
			<key>isnew</key>
			<integer>0</integer>
			<key>jump_title</key>
			<string></string>
			<key>jump_type</key>
			<integer>0</integer>
			<key>photo</key>
			<string>http://cdn36.chinesetoday.cn/2018/ad/20180627/4e22b860828941eadd4769aab919af3f.png</string>
			<key>pid</key>
			<integer>0</integer>
			<key>sortnums</key>
			<integer>6</integer>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>商业保险</string>
			<key>url</key>
			<string>http://www.bizcover.com.au/cn/?utm_source=Sydneytoday&amp;amp;utm_medium=banner&amp;amp;utm_campaign=Sydneytodaybanner</string>
		</dict>
		<dict>
			<key>_id</key>
			<integer>701826348340094</integer>
			<key>cateid</key>
			<integer>0</integer>
			<key>isnew</key>
			<integer>0</integer>
			<key>jump_title</key>
			<string></string>
			<key>jump_type</key>
			<integer>0</integer>
			<key>photo</key>
			<string>http://cdn36.chinesetoday.cn/2018/ad/20180627/9719fc74221655bc672cbeaaf7359d43.png</string>
			<key>pid</key>
			<integer>0</integer>
			<key>sortnums</key>
			<integer>7</integer>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>实时交通</string>
			<key>url</key>
			<string>https://embed.waze.com/iframe?zoom=12&amp;amp;lat=%@&amp;amp;lon=</string>
		</dict>
		<dict>
			<key>_id</key>
			<integer>701826348396089</integer>
			<key>cateid</key>
			<integer>0</integer>
			<key>isnew</key>
			<integer>0</integer>
			<key>jump_title</key>
			<string></string>
			<key>jump_type</key>
			<integer>0</integer>
			<key>photo</key>
			<string>http://cdn36.chinesetoday.cn/2018/ad/20180627/a0396777d929c52ce1406cfb9ac200f0.png</string>
			<key>pid</key>
			<integer>0</integer>
			<key>sortnums</key>
			<integer>8</integer>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>个人算税</string>
			<key>url</key>
			<string>http://www.paycalculator.com.au</string>
		</dict>
		<dict>
			<key>_id</key>
			<integer>701826348442040</integer>
			<key>cateid</key>
			<integer>0</integer>
			<key>isnew</key>
			<integer>0</integer>
			<key>jump_title</key>
			<string></string>
			<key>jump_type</key>
			<integer>0</integer>
			<key>photo</key>
			<string>http://cdn36.chinesetoday.cn/2018/ad/20180627/7fbedcd6c527716d525a41bc78ccdc81.png</string>
			<key>pid</key>
			<integer>0</integer>
			<key>sortnums</key>
			<integer>9</integer>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>违规查询</string>
			<key>url</key>
			<string>http://www.rms.nsw.gov.au</string>
		</dict>
		<dict>
			<key>_id</key>
			<integer>701826348523092</integer>
			<key>cateid</key>
			<integer>0</integer>
			<key>isnew</key>
			<integer>0</integer>
			<key>jump_title</key>
			<string></string>
			<key>jump_type</key>
			<integer>0</integer>
			<key>photo</key>
			<string>http://cdn36.chinesetoday.cn/2018/ad/20180627/7290235ed11b77bf1aca90f9f9cd497b.png</string>
			<key>pid</key>
			<integer>0</integer>
			<key>sortnums</key>
			<integer>10</integer>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>交通时表</string>
			<key>url</key>
			<string>http://www.transportnsw.info</string>
		</dict>
		<dict>
			<key>_id</key>
			<integer>701826348567075</integer>
			<key>cateid</key>
			<integer>0</integer>
			<key>isnew</key>
			<integer>0</integer>
			<key>jump_title</key>
			<string></string>
			<key>jump_type</key>
			<integer>0</integer>
			<key>photo</key>
			<string>http://cdn36.chinesetoday.cn/2018/ad/20180627/c38731ac1e2eebe253179bd61c6e5303.png</string>
			<key>pid</key>
			<integer>0</integer>
			<key>sortnums</key>
			<integer>11</integer>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>油价跟踪</string>
			<key>url</key>
			<string>http://www.comparethemarket.com.au/fuel</string>
		</dict>
		<dict>
			<key>_id</key>
			<integer>701826348625052</integer>
			<key>cateid</key>
			<integer>0</integer>
			<key>isnew</key>
			<integer>0</integer>
			<key>jump_title</key>
			<string></string>
			<key>jump_type</key>
			<integer>0</integer>
			<key>photo</key>
			<string>http://cdn36.chinesetoday.cn/2018/ad/20180627/679b16b365a5d914292619e8cc97d66b.png</string>
			<key>pid</key>
			<integer>0</integer>
			<key>sortnums</key>
			<integer>12</integer>
			<key>subtitle</key>
			<string></string>
			<key>title</key>
			<string>公众假日</string>
			<key>url</key>
			<string>http://www.timeanddate.com/calendar/?country=29</string>
		</dict>
	</array>
</dict>
</plist>
